<header class="global-header">
    <span role="status" aria-live="polite"></span>
    {% include access_control_banner.html %}
    <nav id="lang-nav" aria-label="Language options">
        <div class="l-center">
            <div class="l-cluster">
                <ul class="clean-list" role="list">
                    <li><a href="https://www.w3.org/ja/" hreflang="ja" lang="ja">日本語ホームページ<span class="visuallyhidden" lang="en">Japanese website</span></a></li>
                    <li><a href="https://www.w3.org/zh-hans/" hreflang="zh-hans" lang="zh-hans">简体中文首页<span class="visuallyhidden" lang="en">Chinese website</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="global-nav" aria-label="Main">
        <div class="global-nav__inner l-center js-nav-with-intro">
            <a class="logo-link" href="https://www.w3.org/" hreflang="en">
                <span class="logo">
                    <img src="https://www.w3.org/assets/logos/w3c/w3c-no-bars.svg" alt="W3C" role="img">
                </span>
                <span class="visuallyhidden">Visit the W3C homepage</span>
            </a>
        </div>
    </nav>
</header>
