<!doctype html>
<html lang="en" class="no-js">

{% include head.html %}

<body class="default">
    <a class="skip-link" href="#main">Skip to content</a>
    <div class="grid-wrap">
        <div class="wrap">

            {% include header_with_menu.html %}

            <main id="main">
                <div class="content">
                    <article>
                        <h1>{{ page.title | default: site.github.repository_name }}</h1>
                        <div class="component component--text">
                            {{ content }}
                        </div>
                    </article>
                    <section class="related">
                        <div class="related__inner">
                            <h2 class="txt-jupiter">Related content</h2>
                            <ul class="clean-list" role="list">
                                {{ page.related_content }}
                            </ul>
                        </div>
                    </section>
                </div>  
            </main>  
        </div>

        {% include footer.html %}

    </div>
</body>

</html>

